html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  height: 100%;
}

.main {
  height: 100vh;
  padding: 6vw;
}

#section1 {
  height: 100vh;
}

#section2 {
  height: 100vh;
}

.title {
  font-weight: 400;
  font-size: 8vw;
  line-height: 8.6vw;
  width: 50vw;
  margin-left: 13vw;
  margin-top: 9vw;
}

a:link {
  color: black;
  text-decoration: none;
}

a.left {
  padding-left: 2vw;
  position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}

.fixed-header, .fixed-footer {
  font-family: 'IBM Plex Mono';
  display: flex;
  /* border: 1px solid orange; */
  padding-top: 2vw;
  justify-content: space-between;
  padding-bottom: 2vw;
  width: 100%;
  position: fixed;
}

.fixed-header {
  text-align: right;
  top: 0;
}

.fixed-footer {
  text-align: right;
  bottom: 0;
}

.container {
  width: 77%;
  justify-content: space-between;
  margin: 0 auto;
}

.text-box {
  color: #5D58C1;
  width: 50vw;
  font-weight: 400;
  font-size: 1.4vw;
  margin-left: 13vw;
  margin-top: 9vw;
  height: 20vw;
}
