html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: 'IBM Plex Sans', 'Noto-Sans';
  font-weight: 300;
  height: 100%;
}

.main {
  height: 100vh;
  padding: 6vw;
}

#section1 {
  height: 100vh;
}

#section2 {
  height: 100vh;
}

#section3 {
  height: 100vh;
}

.title {
  font-weight: 400;
  color: #5D58C1;
  font-size: 8vw;
  line-height: 8.6vw;
  width: 60vw;
  margin-left: 14vw;
  margin-top: 11vw;
  white-space: pre;
}

p{
  white-space: pre-wrap;
}

.h2-title {
  font-weight: 400;
  color: #5D58C1;
  font-size: 4vw;
  line-height: 8.6vw;
  width: 60vw;
  margin-left: 14vw;
  margin-top: 11vw;
  white-space: pre;
}

/* https://www.geeksforgeeks.org/how-to-create-text-changing-animation-effect-using-css/ */
span::before {
  content: "Sanctum";
  animation: animate infinite 5s;
}

@keyframes animate {
  0% {
    content: "Sanctum";
  }

  20% {
    content: "पवित्र स्थान";
  }

  40% {
    content: "святилище";
  }

  60% {
    content: "سانتوم";
  }

  80% {
    content: "סנטום";
  }
}

a:link {
  color: #5D58C1;
  text-decoration: none;
}

a.left {
  position: relative;
  margin-left: 2vw;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background-color: #5D58C1;
  transition: all 0.4s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
  color: #5D58C1;
}

a:visited {
  color: #5D58C1;
  font-weight: 500;
}

.fixed-header, .fixed-footer {
  font-family: 'IBM Plex Mono';
  display: flex;
  /* border: 1px solid orange; */
  padding-top: 2vw;
  justify-content: space-between;
  padding-bottom: 2vw;
  width: 100%;
  color: #5D58C1;
  position: fixed;
}

.fixed-header {
  text-align: right;
  top: 0;
}

.fixed-footer {
  font-size: 1vw;
  text-align: right;
  bottom: 0;
}

.container {
  width: 77%;
  justify-content: space-between;
  margin: 0 auto;
}

.text-box {
  color: #5D58C1;
  width: 50vw;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 2.1vw;
  margin-left: 14vw;
  margin-top: 9vw;
  height: 20vw;
}

.spaces {
  margin-left: 14vw;
  height: 70vw;
  width: 30vw;
}

.row {
  padding-bottom: 1vw;
  display: flex;
  justify-content: space-between;
  height: 17vw;
  width: 53vw;
}

.box {
  background-color: #5D58C1;
  border-radius: 1.4vw;
    height: 17vw;
  width: 17vw;
}

.box-mandir {
  background-image: url("images/mandir-bg.png");
  background-size: cover;
  border-radius: 1.4vw;
    height: 17vw;
  width: 17vw;
}

.box-mandir:hover {
  /* background: linear-gradient(to bottom, #fab61d 0%, #f85407 100%); */
  background: url("images/mandir-bg2.png");
   background-size: cover;
}

.box-mosque {
  background-image: url("images/mosque-bg.png");
  background-size: cover;
  border-radius: 1.4vw;
    height: 17vw;
  width: 17vw;
}


.box-cathe {
  background-image: url("images/cathe-bg1.png");
  background-size: cover;
  border-radius: 1.4vw;
    height: 17vw;
  width: 17vw;
}

/* .box-cathe:hover {
  background: url("images/cathe-bg1.png");
    background-size: cover;
} */

.box-syn {
  background-image: url("images/syn-bg.png");
  background-size: cover;
  border-radius: 1.4vw;
    height: 17vw;
  width: 17vw;
}

.box-syn:hover {
  /* background: linear-gradient(to bottom, #fab61d 0%, #f85407 100%); */
  background: url("images/syn-bg1.png");
   background-size: cover;
}

.box-bahai{
  background-image: url("images/bahai-bg.png");
  background-size: cover;
  border-radius: 1.4vw;
    height: 17vw;
  width: 17vw;
}

.box-egypt {
  background-image: url("images/egypt-bg.png");
  background-size: cover;
  border-radius: 1.4vw;
    height:  17vw;
  width: 17vw;
}

.box-roman {
  background-image: url("images/roman-bg.png");
  background-size: cover;
  border-radius: 1.4vw;
    height:  17vw;
  width: 17vw;
}

.box-buddh{
  background-image: url("images/buddh-bg.png");
  background-size: cover;
  border-radius: 1.4vw;
    height: 17vw;
  width: 17vw;
}

.box-church {
  background-image: url("images/church-bg1.png");
  background-size: cover;
  border-radius: 1.4vw;
  height:  17vw;
  width: 17vw;
}

.box-church:hover {
  background: url("images/church-bg2.png");
    background-size: cover;
}


.box:hover {
  box-sizing: border-box;
  background-color: #5D58C1;
  border: 0.5vw solid orange;
}

/* CONTRIBUTE */
/* CONTRIBUTE */
/* CONTRIBUTE */
/* CONTRIBUTE */
label {
  font-weight: 400;
  color: #5D58C1;
  font-size: 1.4vw;
}

input[type=text], select, textarea {
  width: 100%;
  color: #5D58C1;
  font-family: inherit;
  font-weight: 400;
  padding: 1.1vw;
  border: 1px solid #5D58C1;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 1.4vw;
}

input[type=submit] {
  width: 8vw;
  font-size: 1.4vw;
  height: 4vw;
  font-family: inherit;
  background-color: white;
  color: #5D58C1;
  border: 1px solid #5D58C1;
  border-radius: 4px;
  cursor: pointer;
}

input[type=file] {
  font-family: inherit;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #5D58C1;
  color: white;
}

.con-container {
  margin-top: -4vw;
  padding-bottom: 4vw;
  border-radius: 5px;
  margin-left: 14vw;
  width: 50vw;
}

.form-control {
  color: #5D58C1;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url(IBM/IBM-Plex-Sans/IBMPlexSans-Regular.otf);
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url(IBM/IBM-Plex-Mono/IBMPlexMono-ExtraLight.otf);
}
