/* Start of Trudy's Code */
.active {
  display: block;
}

.hide {
  display: none;
}

.eng {
  z-index: 100;
  font-family: 'IBM Plex Sans', 'Noto-Sans';
  font-weight: 400;
  color: #F85407;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2vw;
  line-height: 1.5vw;
  white-space: pre-line;
}

.hind {
  z-index: 100;
  font-family: 'IBM Plex Sans', 'Noto-Sans';
  font-weight: 400;
  color: #F85407;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2vw;
  line-height: 1.7vw;
}

.popup {
  z-index: 100;
  width: 20vw;
  border-radius: 10px;
  background-color: #FAB11C;
  border: 2px solid #F8610A;
  display: none;
}

.popup-hindu1, .popup-hindu2, .popup-hindu4, .popup-hindu5, .popup-hindu6, .popup-hindu7, .popup-hindu8, .popup-hindu9, .popup-hindu6, .popup-hindu7,.popup-hindu10, .popup-hindu11{
  position: absolute;
  left: 50px;
  top: 4vw;
  padding: 10px;
}

/* End of Trudy's Code */
html {
  scroll-behavior: smooth;
}

.main {
  height: 100vh;
  padding: 6vw;
}

body {
  background-color: #F85407;
  font-family: 'IBM Plex Sans', 'Noto-Sans';
  font-weight: 300;
  height: 100%;
  margin: 0;
  overflow: hidden
}

a:link {
  color: #5D58C1;
  text-decoration: none;
}

a.left {
  position: relative;
  margin-left: 2vw;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background-color: #FAB61D;
  transition: all 0.4s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
  color: #FAB61D;
}

a:visited {
  color: #FAB61D;
  font-weight: 500;
}

.fixed-header, .fixed-footer {
  font-family: 'IBM Plex Mono';
  display: flex;
  /* border: 1px solid orange; */
  padding-top: 2vw;
  justify-content: space-between;
  padding-bottom: 2vw;
  width: 100%;
  color: #FAB61D;
  position: fixed;
}

.fixed-header {
  z-index: 1;
  text-align: right;
  top: 0;
}

.fixed-footer {
  font-size: 1vw;
  text-align: right;
  bottom: 0;
}

.container {
  width: 77%;
  justify-content: space-between;
  margin: 0 auto;
}

.text-box {
  color: #5D58C1;
  width: 50vw;
  font-weight: 400;
  font-size: 1.4vw;
  margin-left: 14vw;
  margin-top: 9vw;
  height: 20vw;
}

.hindu1 {
  /* idol */
  position: absolute;
  left: -20px;
  z-index: 1;
  top: 16px;
}

.hindu2 {
  /* praying hands */
  position: absolute;
  z-index: 3;
  left: 397px;
  top: 163px;
}

.hindu3 {
  /* thali */
  position: absolute;
  left: 752px;
  top: 220px;
}

.hindu4 {
  /* flowers */
  position: absolute;
  left: 463px;
  top: 408px;
  z-index: 2;
}

.hindu5 {
  /* shoe */
  position: absolute;
  left: 570px;
  top: -70px;
}

.hindu6 {
  /* cymbals */
  position: absolute;
  left: 113px;
  top: 422px;
  z-index: 3;
}

.hindu7 {
  /* donation boxes */
  position: absolute;
  z-index: 0;
  left: 40px;
  top: 50px;
}

.hindu8 {
  /* prasad */
  position: absolute;
  left: 1101px;
  top: 0px;
  z-index: 0;
}

.hindu9 {
  /* camera */
  position: absolute;
  left: 893px;
  top: 160px;
}

.hindu10 {
  /* bell */
  position: absolute;
  left: 803px;
  top: -170px;
}

.hindu11 {
  /*aarti*/
  position: absolute;
  left: 1003px;
  top: 340px;
}

/* .hindu6:hover {
    background: url("images/hindu/hindu6.1.png") no-repeat;
} */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url(IBM/IBM-Plex-Sans/IBMPlexSans-Regular.otf);
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url(IBM/IBM-Plex-Mono/IBMPlexMono-ExtraLight.otf);
}
