/* Start of Trudy's Code */
.active {
  display: block;
}

.hide {
  display: none;
}

.eng {
  z-index: 100;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  color: #678FCB;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2vw;
  line-height: 1.5vw;
  white-space: pre-line;
}

.heb{
  z-index: 100;
  text-align: right;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  color: #678FCB;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2vw;
  line-height: 1.7vw;
}

.popup {
  z-index: 100;
  width: 20vw;
  border-radius: 10px;
  background-color: #0507FD;
  border: 2px solid #678FCB;
  display: none;
}

.popup-syn1, .popup-syn2, .popup-syn3, .popup-syn4,.popup-syn5, .popup-syn6, .popup-syn7{
  position: absolute;
  left: 50px;
  top: 4vw;
  padding: 10px;
}


/* End of Trudy's Code */

html {
  scroll-behavior: smooth;
}

.main {
  height: 100vh;
  padding: 6vw;
}

body {
  background-color: #4C69D9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'IBM Plex Sans', 'Noto-Sans';
  font-weight: 300;
  height: 100%;
  margin: 0;
  overflow: hidden
}

a:link {
  color: #0507FD;
  text-decoration: none;
}

a.left {
  position: relative;
  margin-left: 2vw;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background-color: #0507FD;
  transition: all 0.4s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
  color: #0507FD;
}

a:visited {
  color: #0507FD;
  font-weight: 500;
}

.fixed-header, .fixed-footer {
  font-family: 'IBM Plex Mono';
  display: flex;
  /* border: 1px solid orange; */
  padding-top: 2vw;
  justify-content: space-between;
  padding-bottom: 2vw;
  width: 100%;
  color: #0507FD;
  position: fixed;
}

.fixed-header {
  z-index: 1;
  text-align: right;
  top: 0;
}

.fixed-footer {
  font-size: 1vw;
  text-align: right;
  bottom: 0;
}

.container {
  width: 77%;
  justify-content: space-between;
  margin: 0 auto;
}

.text-box {
  color: #0507FD;
  width: 50vw;
  font-weight: 400;
  font-size: 1.4vw;
  margin-left: 14vw;
  margin-top: 9vw;
  height: 20vw;
}

.syn1 {
  /* torah */
  position: absolute;
  left: 445px;
  top: -86px;
  z-index: 1;
}

.syn2 {
  /* menorah */
  position: absolute;
  z-index:0;
  left: 277px;
  top: 340px;
}

.syn3 {
  /* light */
  position: absolute;
  left: -0px;
  top: -120px;
}

.syn4 {
  /* cloth*/
  position: absolute;
  left: 653px;
  top:268px;
  z-index: 0;
}

.syn5 {
  /* shoe */
  position: absolute;
  left: 990px;
  top: 1px;
  z-index: 0;
}

.syn6 {
  /* buildings */
  position: absolute;
  left: 3px;
  top: 332px;
}

.syn7 {
  /* table */
  position: absolute;
  left: 930px;
  top: 392px;
}


/* .hindu6:hover {
    background: url("images/hindu/hindu6.1.png") no-repeat;
} */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url(IBM/IBM-Plex-Sans/IBMPlexSans-Regular.otf);
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url(IBM/IBM-Plex-Mono/IBMPlexMono-ExtraLight.otf);
}
